In [717]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [718]:
df = pd.read_csv('real_estate_data.csv', sep = ',')

/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/2713790826.py:1: DtypeWarning: Columns (9,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('real_estate_data.csv', sep = ',')

In [719]:
df.head(10)

,id,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,furnished,heating_type,price,price_currency
0,1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3500.0,TRY
1,2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,490000.0,TRY
2,3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,NaN,Fancoil,155000.0,TRY
3,4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,NaN,Fancoil,32500000.0,TRY
4,5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,1450000.0,TRY
5,6,Konut,Rezidans,11/9/18,12/9/18,1,30,2,10-20 arası,10,1+1,45.0,İstanbul/Maltepe/Altayçeşme,NaN,Fancoil,780000.0,TRY
6,7,Konut,Daire,1/4/19,NaN,2,54,0,20 ve üzeri,14,3+1,160.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3750.0,TRY
7,8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,NaN,Fancoil,1500000.0,TRY
8,9,Konut,Daire,2/16/19,NaN,1,11,NaN,2,Kot 2,3+1,140.0,Çanakkale/Ayvacık/Küçükkuyu Bld. (Mıhlı),NaN,Fancoil,1500000.0,TRY
9,10,Konut,Daire,12/26/18,12/26/18,1,0,1,1,Asma Kat,2+2,550.0,İstanbul/Fatih/Sarıdemir,NaN,Fancoil,84256.0,GBP

In [720]:
df.shape

(403487, 17)

In [721]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403487 entries, 0 to 403486
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 403487 non-null  int64
 1   type               403487 non-null  object
 2   sub_type           403487 non-null  object
 3   start_date         403487 non-null  object
 4   end_date           266298 non-null  object
 5   listing_type       403487 non-null  int64
 6   tom                403487 non-null  int64
 7   building_age       376097 non-null  object
 8   total_floor_count  375466 non-null  object
 9   floor_no           368191 non-null  object
 10  room_count         403487 non-null  object
 11  size               257481 non-null  float64
 12  address            403487 non-null  object
 13  furnished          0 non-null       float64
 14  heating_type       375517 non-null  object
 15  price              402772 non-null  float64
 16  price_currency     402772 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 52.3+ MB

In [722]:
df.isnull().sum()

id                        0
type                      0
sub_type                  0
start_date                0
end_date             137189
listing_type              0
tom                       0
building_age          27390
total_floor_count     28021
floor_no              35296
room_count                0
size                 146006
address                   0
furnished            403487
heating_type          27970
price                   715
price_currency          715
dtype: int64

In [723]:
# описательная статистика для всех (числовых) признаков
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,403487.0,201744.000000,1.164768e+05,1.0,100872.5,201744.0,302615.5,4.034870e+05
listing_type,403487.0,1.294235,4.677333e-01,1.0,1.0,1.0,2.0,3.000000e+00
tom,403487.0,57.022739,4.435893e+01,0.0,29.0,40.0,90.0,1.800000e+02
size,257481.0,279.349094,9.429195e+03,1.0,85.0,110.0,140.0,9.482350e+05
furnished,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,402772.0,354641.661933,4.809503e+06,-250.0,2500.0,199000.0,342000.0,2.000000e+09

In [724]:
df = df.drop('furnished', axis=1)

In [725]:
columns = df.columns
columns

Index(['id', 'type', 'sub_type', 'start_date', 'end_date', 'listing_type',
       'tom', 'building_age', 'total_floor_count', 'floor_no', 'room_count',
       'size', 'address', 'heating_type', 'price', 'price_currency'],
      dtype='object')

In [ ]:
df['end_date'].fillna("Not expired", inplace=True)

from random import randint


rand_list = np.random.randint(10,20, size=200)
dff = pd.DataFrame(rand_list, columns =['rand'])

df['total_floor_count'] = df['total_floor_count'].apply(lambda x: randint(10, 20) if x == '10-20 arası' else x)
df['total_floor_count'] = df['total_floor_count'].apply(lambda x: randint(20, 40) if x == '20 ve üzeri' else x)
df['total_floor_count'] = pd.to_numeric(df['total_floor_count'])
df['total_floor_count'].fillna(round(df['total_floor_count'].mean()), inplace=True)
df['total_floor_count'] = df['total_floor_count'].astype(int)

df['floor_no'] = df['floor_no'].apply(lambda x: 0 if x == 'Bodrum Kat' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Bahçe katı' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Müstakil' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Yüksek Giriş' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Zemin Kat' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Kot 2' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Giriş Katı' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 2 if x == 'Kot 4' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Kot 1' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 1 if x == 'Kot 3' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: randint(20, 30) if x == '20 ve üzeri' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: randint(20, 30) if x == 'Komple' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: randint(27, 30) if x == 'En Üst Kat' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: randint(29, 30) if x == 'Çatı Katı' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 30 if x == 'Asma Kat' else x)
df['floor_no'] = df['floor_no'].apply(lambda x: 30 if x == 'Teras Kat' else x)

df['floor_no'] = pd.to_numeric(df['floor_no'])
df['floor_no'].fillna(round(df['floor_no'].mean()), inplace=True)
df['floor_no'] = df['floor_no'].astype(int)


df['building_age'] = df['building_age'].apply(lambda x: randint(6, 10) if x == '6-10 arası' else x)
df['building_age'] = df['building_age'].apply(lambda x: randint(11, 15) if x == '11-15 arası' else x)
df['building_age'] = df['building_age'].apply(lambda x: randint(16, 20) if x == '16-20 arası' else x)
df['building_age'] = df['building_age'].apply(lambda x: randint(21, 25) if x == '21-25 arası' else x)
df['building_age'] = df['building_age'].apply(lambda x: randint(26, 30) if x == '26-30 arası' else x)
df['building_age'] = df['building_age'].apply(lambda x: randint(31, 35) if x == '31-35 arası' else x)
df['building_age'] = df['building_age'].apply(lambda x: randint(36, 40) if x == '36-40 arası' else x)
df['building_age'] = df['building_age'].apply(lambda x: randint(40, 150) if x == '40 ve üzeri' else x)


df['building_age'] = pd.to_numeric(df['building_age'])
df['building_age'].fillna(round(df['building_age'].mean()), inplace=True)
df['building_age'] = df['building_age'].astype(int)

/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/4208712907.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['end_date'].fillna("Not expired", inplace=True)
/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/4208712907.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['total_floor_count'].fillna(round(df['total_floor_count'].mean()), inplace=True)
/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/4208712907.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['floor_no'].fillna(round(df['floor_no'].mean()), inplace=True)
/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/4208712907.py:50: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['building_age'].fillna(round(df['building_age'].mean()), inplace=True)

In [727]:
df['room_count'] = df['room_count'].apply(lambda x: None if x == '+' else x)
mode_val = df['room_count'].mode()
df['room_count'].fillna(mode_val[0], inplace=True)

/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/1596058782.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['room_count'].fillna(mode_val[0], inplace=True)

In [728]:
df['size'] = df['size'].apply(lambda x: round(df['size'].mean()) if x > 500 else x)
df['size'].fillna(round(df['size'].mean()), inplace=True)
df['size'] = pd.to_numeric(df['size'])
df['building_age'] = df['building_age'].astype(int)

/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/1448005683.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['size'].fillna(round(df['size'].mean()), inplace=True)

In [729]:
mode_val = df['heating_type'].mode()
df['heating_type'].fillna(mode_val[0], inplace=True)

/var/folders/dq/ms57v47d7c3_4kj92m1m8j940000gn/T/ipykernel_31548/4011999579.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['heating_type'].fillna(mode_val[0], inplace=True)

In [730]:
df.to_csv('real_estate_data_fix.csv')